@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

:root{
     --white: #fff;
     --black: #000;

     --mainheader: #282b3f;
     --mainBackground: #2c3246;

     --titleApp: #d77420;
     --titleHover: #67abf3;

     --button_insert: #27cbb9;
     --button_edit: #febc46;
     --button_delete: #e7537f;

     --mainItemsColors: #b769e9;
}

/**************************************************/
/* General directives                             */
/**************************************************/
body{
    font-family: 'Comfortaa', cursive; 
    background-color: var(--mainBackground); 
}

form{
    padding: 1rem;
}

mandatory{
    color: red
}

/*label{
    font-size: 12px !important;
    color: #a3a3a3 !important;
}*/

.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.hide{
    display: none !important;
}

.modal-card-head {
    justify-content: space-between;
    align-items: center;
}

/**************************************************/
/* Modals show/hide                               */
/**************************************************/
.modal-insert{
    display: flex;
}

/**************************************************/
/* header                                           */
/**************************************************/
#containerHeader{
    display: flex;
    padding: 1.5rem;
    background-color: var(--mainheader);
    height: 15vh; /* height of the nav-bar*/
}

#logoAndName{    
    width: 70%;
}

#link_main{
    display: flex;
    align-items: center;
    color: var(--titleApp);
}

#link_main:hover{
    color: var(--titleHover);
}

#options{
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: flex-end;  
}

#logoHeader{
    border-radius: 10px;
}

#titleHeader{
    font-size: 35px;
    padding-left: 15px;
    font-family: 'League Gothic', sans-serif;
}

/* Buttons menus style */
/*-------------------------------*/
.buttonsMenu{
    display: inline-flex;
    padding: 0;
    background-color: #34AF8A;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

#buttonsMenu_text, #buttonsMenu_icon{
    display: inline-flex;
    align-items: center;
    padding: 8px 15px;
    color: white;
    height: 100%;
}

#buttonsMenu_icon{
    background: rgba(0, 0, 0, 0.08);
}

#buttonsMenu_insert{
    background: var(--button_insert);
}

#buttonsMenu_insert:hover{
    filter: brightness(70%);
}

#buttonsMenu_edit{
    background: var(--button_edit);
}

#buttonsMenu_edit:hover{
    filter: brightness(70%);
}

#buttonsMenu_delete{
    background: var(--button_delete);
}

#buttonsMenu_delete:hover{
    filter: brightness(70%);
}

/*-------------------------------*/

/**************************************************/
/* Body                                           */
/**************************************************/
#modalTitle{
    font-size: 2rem; 
    font-weight: bold;
}

.main-content{
    width: 100%;
    height: 85vh; /* height of the main content*/
    padding: 2.5rem;
}

/**************************************************/
/* form to insert questions                       */
/**************************************************/
#titleAndbuttons{
    margin-top: 1.5rem;
    margin-bottom: 3px;
    border-radius: 5px;
    background-color: #ddd; 
    padding: 0.2rem 0.3rem 0.2rem 1rem; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    align-content: center;
}

#buttonToAddQuestions{
    color: rgb(255, 255, 255);
    font-weight: 900;
    background-color: #34AF8A;
    border-radius: 5px;
}

.form-question-row{
    margin-bottom: 3px; 
    padding: 0rem 1.2rem 0.5rem 1.2rem; 
    background-color: rgb(125, 227, 154); 
    border-radius: 5px;
}

.spanButtonRemove{
    font-size: 10px;
    padding: 0px 5px 0px 5px;
    border-radius: 3px; 
    background-color: #AF3359; 
    color: white; 
    font-weight: 500; 
    cursor: pointer;
}

#labelNunQuestions{
    color: white; 
    font-size: 12px;
    font-weight: 500;
}

#containerOfOptions{
    display: flex; 
    margin-bottom: 5px;
}

#buttonRemove{
    display: flex; 
    justify-content: right;
}

/**************************************************/
/* List of the questions styles                   */
/**************************************************/
.ListOfTrickingWordsTable{
    width: 100%;
    color: var(--titleApp);
}

tr { 
    border: solid;
    border-width: 1px 0px;
}

#titleTableOflistOfWords{
    color: white; 
    font-size: 25px; 
    padding: 10px; 
}


.wordItem{
    color: white;
    display: flex;
}




